@{
    ViewBag.Title = "NAYELLE Skincare - For Sensitive Skin - Organic Probiotic Ingredients";
}

<main>
    <div class="main-hero">
        <div class="main-hero-content hide-on-mobile"></div>
        <div class="main-hero-content">
            <p>
                100%  Natural Serums for healthy, youthful, glowing skin.
            </p>
            <p>
                * Repair * Protect * Hydrate * Brighten *
            </p>
        </div>
    </div>
    <div class="wrapper main-content-section">
        <p>Why SILK SERUMS? All your skin needs in 4 little bottles. Powerful ingredients, fast acting, results driven.</p>
        <div class="main-content-section-list">
            <div class="main-content-section-item">
                <img src="/Content/img/SilkSerums_1.jpg" />
                <p><strong>SILK SERUMS BAKUCHOLI</strong></p>
                <p><strong>Price:</strong> $35</p>
                <p class="description">
                    <strong>BAKUCHOLI OIL</strong><br />
                    <strong>Retinol Alternative</strong><br />
                    A gentle, plant based retinol alternative
                    Without irritation and safe to use daily.
                    Seals in hydration and smooths the
                    look of fine lines and wrinkles.
                </p>
            </div>
            <div class="main-content-section-item">
                <img src="/Content/img/SilkSerums_2.jpg" />
                <p><strong>SILK SERUMS HYALURONIC</strong></p>
                <p><strong>Price:</strong> $29</p>
                <p class="description">
                    <strong>HYALURONIC ACID 1%</strong><br />
                    <strong>Hydrating</strong><br />
                    A powerful hydrating must-have
                    with 1% hyaluornic acid to hydrate
                    the skin, leaving it smoother and plumper.
                    Uses 3 molecular sizes of HA to deeply
                    penetrate and hydrate the skin.
                </p>
            </div>
            <div class="main-content-section-item">
                <img src="/Content/img/SilkSerums_3.jpg" />
                <p><strong>SILK SERUMS VITAMIN C</strong></p>
                <p><strong>Price:</strong> $29</p>
                <p class="description">
                    <strong>VITAMIN C 5%</strong><br />
                    <strong>Brightening</strong><br />
                    A highly stable Vitamin C that delivers
                    a potent dose of actives to help brighten
                    dull, stressed-out skin while reducing
                    hyperpigmentation and marks.
                </p>
            </div>
            <div class="main-content-section-item">
                <img src="/Content/img/SilkSerums_4.jpg" />
                <p><strong>SILK SERUMS NIACINAMIDE</strong></p>
                <p><strong>Price:</strong> $35</p>
                <p class="description">
                    <strong>NIACINAMIDE 4%</strong><br />
                    <strong>Anti-Aging & Repair</strong><br />
                    A supercharged anti-aging serum
                    powered by  5% niacinamide a
                    Natural vitaminB3.  Increases collagen
                    Production and combats fine lines,
                    wrinkles.
                </p>
            </div>
        </div>
    </div>

    <div class="wrapper link-section">
        <p>WHERE TO BUY? <a href="https://nayelle.com/">NAYELLE Skincare</a></p>
    </div>

    <div class="wrapper extra-section">
        <p>
            SILK SERUMS is a proudly Canadian made, family run business.
        </p>
    </div>
    <div class="extra-section-icons">
        <div class="extra-section-icon"><img class="large" src="/content/img/hypoallergenic.svg" /></div>
        <div class="extra-section-icon"><img src="/content/img/fragrance-free.svg" /></div>
        <div class="extra-section-icon"><img src="/content/img/paraben-free.svg" /></div>
        <div class="extra-section-icon"><img src="/content/img/Non-GMO.svg" /></div>
        <div class="extra-section-icon"><img class="made-in-ca" src="/content/img/made_in_canada.svg" /></div>
    </div>
    <div class="wrapper contact-section-wrap">
        <p>
            To Contact Us:
        </p>
        <div class="contact-section">
            <p>
                Manufactured for Silk Serums.<br />
                #300-West 14th Street<br />
                North Vancouver, BC<br />
                V7P 3P2
            </p>
            <p>
                <a href="mailto:info@silkserums.com">info@silkserums.com</a>
            </p>
        </div>
    </div>
</main>

@section Scripts{

}